@font-face {
    font-family: asli;
    src: url(../fonts/AAmine.ttf);
}

@font-face {
    font-family: dovom;
    src: url(../fonts/zarghan.ttf);
}

@font-face {
    font-family: sevom;
    src: url(../fonts/vazir-FD.ttf);
}
@font-face {
    font-family: charom;
    src: url(../fonts/vazir-WOL.ttf);
}
@font-face {
  font-family: Vazir;
  src: url('Vazir.eot');
  src: url('Vazir.eot?#iefix') format('embedded-opentype'),
       url('Vazir.woff') format('woff'),
       url('Vazir.ttf') format('truetype');
  font-weight: normal;
}
      
// @font-face {
//   font-family: Vazir;
//   src: url('Vazir-Bold.eot');
//   src: url('Vazir-Bold.eot?#iefix') format('embedded-opentype'),
//        url('Vazir-Bold.woff') format('woff'),
//        url('Vazir-Bold.ttf') format('truetype');
//   font-weight: bold;
// }
 
// @font-face {
//   font-family: Vazir;
//   src: url('Vazir-Light.eot');
//   src: url('Vazir-Light.eot?#iefix') format('embedded-opentype'),
//        url('Vazir-Light.woff') format('woff'),
//        url('Vazir-Light.ttf') format('truetype');
//   font-weight: 300;
// }

a {
    text-decoration: none;
    color: $text-black-l;
}

.image-head {
    font-family: asli;
    font-size: 3em;
    color: #fff;
    text-decoration: none;
    margin: auto;
    z-index: 2;
}



.arrow {
    width: 20px;
    height: 20px;
}
